################################################################################
## This file has been generated by refresh_model from:                        ##
## - Base    : 5982cbbb8fa5d7e33d1030b90bd5b7bb                               ##
## - Metadata: 1587d4df1ace6858c7da1cae906af543                               ##
## - Template: 24cd8c70cd5973b7f1d7ef0afb2f8e9c                               ##
## data_api_access_scripts version: 1.16.8                                    ##
## metadata generated at: 2024-02-16 10:54:59.782092                          ##
## DO NOT EDIT THIS FILE, run refresh_model instead.                          ##
################################################################################
openapi: 3.0.0
info:
  title: CloudIQ REST API
  version: '1.0'
  description: CloudIQ Public REST API
  contact:
    name: CloudIQ Support
    email: CloudIQSupport@dell.com
servers:
- url: https://cloudiq.apis.dell.com
tags:
- name: Basic System Info
- name: Generic Hardware
- name: Generic Storage
- name: Generic System
- name: Internal
- name: Metrics
paths:
  /basic-system-information:
    get:
      summary: Get Basic System Information
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
      operationId: get-basic-system-infos
      description: Get basic system information. Since this is a single resource type,
        the id will be "0".
      tags:
      - Basic System Info
  /rest/v1/compute_hosts/{id}:
    get:
      summary: Get a AcpHost
      description: Get a acp host by its ID.
      operationId: get-rest-v1-compute_host
      parameters:
      - schema:
          type: string
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
          minLength: 0
          maxLength: 1024
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The acp host ID to retrieve
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcpHost'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic Hardware
  /rest/v1/compute_hosts:
    get:
      summary: Get AcpHosts
      description: Get a list of all the acp host objects.
      operationId: get-rest-v1-compute_hosts
      parameters:
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: (simple)  ?filter=age ge 13 (complex)  ?filter=(age lt 18) or (name
            like "foo") or (tags(BusinessUnit.SLA) like 'Gold'))
        in: query
        name: filter
        description: This filters rows in a query, by constraining the result to rows
          matching the property condition(s) specified. Multiple filters are valid
          and are "and"ed together. If the filter query contains a tag key that has
          special characters (such as a dot, dash, or underscore), then the user needs
          to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?order=last_name,age.dsc,system_tags(BusinessUnit.SLA)
        in: query
        name: order
        description: Sorts the result set by the properties specified. Ascending order
          is default if not specified. If the order query contains a tag key that
          has special characters (such as a dot, dash, or underscore), then the user
          needs to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          default: 500
          example: 500
        in: query
        name: limit
        description: Optional page size desired for the response. If not specified,
          the default page limit is 500.
      - schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 1000
        in: query
        name: offset
        description: Optional starting row of the result set, used with the limit
          for paging. The value is zero based, where offset=0 (the default) starts
          the response from the first row of results.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: AcpHostsCollectionResponse
                description: 'A collection is a list of instances along with metadata
                  about that query. A successful collection query returns a ''200''
                  with a list of instances in the response body. \nAn empty collection
                  response (whether due to no instances at all, or due to filtering
                  out all the existing instances) is not an error. It still returns
                  a ''200'', but the "results": [] list is empty.'
                properties:
                  paging:
                    $ref: '#/components/schemas/Paging'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AcpHost'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic Hardware
  /rest/v1/hci_systems/{id}:
    get:
      summary: Get a AcpSystem
      description: Get a hci system by its ID.
      operationId: get-rest-v1-hci_system
      parameters:
      - schema:
          type: string
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
          minLength: 0
          maxLength: 1024
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The hci system ID to retrieve
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcpSystem'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic System
  /rest/v1/hci_systems:
    get:
      summary: Get AcpSystems
      description: Get a list of all the hci system objects.
      operationId: get-rest-v1-hci_systems
      parameters:
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: (simple)  ?filter=age ge 13 (complex)  ?filter=(age lt 18) or (name
            like "foo") or (tags(BusinessUnit.SLA) like 'Gold'))
        in: query
        name: filter
        description: This filters rows in a query, by constraining the result to rows
          matching the property condition(s) specified. Multiple filters are valid
          and are "and"ed together. If the filter query contains a tag key that has
          special characters (such as a dot, dash, or underscore), then the user needs
          to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?order=last_name,age.dsc,system_tags(BusinessUnit.SLA)
        in: query
        name: order
        description: Sorts the result set by the properties specified. Ascending order
          is default if not specified. If the order query contains a tag key that
          has special characters (such as a dot, dash, or underscore), then the user
          needs to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          default: 500
          example: 500
        in: query
        name: limit
        description: Optional page size desired for the response. If not specified,
          the default page limit is 500.
      - schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 1000
        in: query
        name: offset
        description: Optional starting row of the result set, used with the limit
          for paging. The value is zero based, where offset=0 (the default) starts
          the response from the first row of results.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: AcpSystemsCollectionResponse
                description: 'A collection is a list of instances along with metadata
                  about that query. A successful collection query returns a ''200''
                  with a list of instances in the response body. \nAn empty collection
                  response (whether due to no instances at all, or due to filtering
                  out all the existing instances) is not an error. It still returns
                  a ''200'', but the "results": [] list is empty.'
                properties:
                  paging:
                    $ref: '#/components/schemas/Paging'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/AcpSystem'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic System
  /rest/v1/datastores/{id}:
    get:
      summary: Get a DataStore
      description: Get a datastore by its ID.
      operationId: get-rest-v1-datastore
      parameters:
      - schema:
          type: string
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
          minLength: 0
          maxLength: 1024
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The datastore ID to retrieve
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataStore'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic Storage
  /rest/v1/datastores:
    get:
      summary: Get DataStores
      description: Get a list of all the datastore objects.
      operationId: get-rest-v1-datastores
      parameters:
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: (simple)  ?filter=age ge 13 (complex)  ?filter=(age lt 18) or (name
            like "foo") or (tags(BusinessUnit.SLA) like 'Gold'))
        in: query
        name: filter
        description: This filters rows in a query, by constraining the result to rows
          matching the property condition(s) specified. Multiple filters are valid
          and are "and"ed together. If the filter query contains a tag key that has
          special characters (such as a dot, dash, or underscore), then the user needs
          to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?order=last_name,age.dsc,system_tags(BusinessUnit.SLA)
        in: query
        name: order
        description: Sorts the result set by the properties specified. Ascending order
          is default if not specified. If the order query contains a tag key that
          has special characters (such as a dot, dash, or underscore), then the user
          needs to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          default: 500
          example: 500
        in: query
        name: limit
        description: Optional page size desired for the response. If not specified,
          the default page limit is 500.
      - schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 1000
        in: query
        name: offset
        description: Optional starting row of the result set, used with the limit
          for paging. The value is zero based, where offset=0 (the default) starts
          the response from the first row of results.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: DataStoresCollectionResponse
                description: 'A collection is a list of instances along with metadata
                  about that query. A successful collection query returns a ''200''
                  with a list of instances in the response body. \nAn empty collection
                  response (whether due to no instances at all, or due to filtering
                  out all the existing instances) is not an error. It still returns
                  a ''200'', but the "results": [] list is empty.'
                properties:
                  paging:
                    $ref: '#/components/schemas/Paging'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/DataStore'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic Storage
  /rest/v1/drives/{id}:
    get:
      summary: Get a Drive
      description: Get a drive by its ID.
      operationId: get-rest-v1-drive
      parameters:
      - schema:
          type: string
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
          minLength: 0
          maxLength: 1024
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The drive ID to retrieve
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Drive'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic Storage
  /rest/v1/drives:
    get:
      summary: Get Drives
      description: Get a list of all the drive objects.
      operationId: get-rest-v1-drives
      parameters:
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: (simple)  ?filter=age ge 13 (complex)  ?filter=(age lt 18) or (name
            like "foo") or (tags(BusinessUnit.SLA) like 'Gold'))
        in: query
        name: filter
        description: This filters rows in a query, by constraining the result to rows
          matching the property condition(s) specified. Multiple filters are valid
          and are "and"ed together. If the filter query contains a tag key that has
          special characters (such as a dot, dash, or underscore), then the user needs
          to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?order=last_name,age.dsc,system_tags(BusinessUnit.SLA)
        in: query
        name: order
        description: Sorts the result set by the properties specified. Ascending order
          is default if not specified. If the order query contains a tag key that
          has special characters (such as a dot, dash, or underscore), then the user
          needs to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          default: 500
          example: 500
        in: query
        name: limit
        description: Optional page size desired for the response. If not specified,
          the default page limit is 500.
      - schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 1000
        in: query
        name: offset
        description: Optional starting row of the result set, used with the limit
          for paging. The value is zero based, where offset=0 (the default) starts
          the response from the first row of results.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: DrivesCollectionResponse
                description: 'A collection is a list of instances along with metadata
                  about that query. A successful collection query returns a ''200''
                  with a list of instances in the response body. \nAn empty collection
                  response (whether due to no instances at all, or due to filtering
                  out all the existing instances) is not an error. It still returns
                  a ''200'', but the "results": [] list is empty.'
                properties:
                  paging:
                    $ref: '#/components/schemas/Paging'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Drive'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic Storage
  /rest/v1/filesystems/{id}:
    get:
      summary: Get a Filesystem
      description: Get a filesystem by its ID.
      operationId: get-rest-v1-filesystem
      parameters:
      - schema:
          type: string
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
          minLength: 0
          maxLength: 1024
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The filesystem ID to retrieve
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Filesystem'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic Storage
  /rest/v1/filesystems:
    get:
      summary: Get Filesystems
      description: Get a list of all the filesystem objects.
      operationId: get-rest-v1-filesystems
      parameters:
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: (simple)  ?filter=age ge 13 (complex)  ?filter=(age lt 18) or (name
            like "foo") or (tags(BusinessUnit.SLA) like 'Gold'))
        in: query
        name: filter
        description: This filters rows in a query, by constraining the result to rows
          matching the property condition(s) specified. Multiple filters are valid
          and are "and"ed together. If the filter query contains a tag key that has
          special characters (such as a dot, dash, or underscore), then the user needs
          to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?order=last_name,age.dsc,system_tags(BusinessUnit.SLA)
        in: query
        name: order
        description: Sorts the result set by the properties specified. Ascending order
          is default if not specified. If the order query contains a tag key that
          has special characters (such as a dot, dash, or underscore), then the user
          needs to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          default: 500
          example: 500
        in: query
        name: limit
        description: Optional page size desired for the response. If not specified,
          the default page limit is 500.
      - schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 1000
        in: query
        name: offset
        description: Optional starting row of the result set, used with the limit
          for paging. The value is zero based, where offset=0 (the default) starts
          the response from the first row of results.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: FilesystemsCollectionResponse
                description: 'A collection is a list of instances along with metadata
                  about that query. A successful collection query returns a ''200''
                  with a list of instances in the response body. \nAn empty collection
                  response (whether due to no instances at all, or due to filtering
                  out all the existing instances) is not an error. It still returns
                  a ''200'', but the "results": [] list is empty.'
                properties:
                  paging:
                    $ref: '#/components/schemas/Paging'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Filesystem'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic Storage
  /rest/v1/firmwares/{id}:
    get:
      summary: Get a Firmware
      description: Get a server firmware by its ID.
      operationId: get-rest-v1-firmware
      parameters:
      - schema:
          type: string
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
          minLength: 0
          maxLength: 1024
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The server firmware ID to retrieve
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Firmware'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic System
  /rest/v1/firmwares:
    get:
      summary: Get Firmwares
      description: Get a list of all the server firmware objects.
      operationId: get-rest-v1-firmwares
      parameters:
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: (simple)  ?filter=age ge 13 (complex)  ?filter=(age lt 18) or (name
            like "foo") or (tags(BusinessUnit.SLA) like 'Gold'))
        in: query
        name: filter
        description: This filters rows in a query, by constraining the result to rows
          matching the property condition(s) specified. Multiple filters are valid
          and are "and"ed together. If the filter query contains a tag key that has
          special characters (such as a dot, dash, or underscore), then the user needs
          to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?order=last_name,age.dsc,system_tags(BusinessUnit.SLA)
        in: query
        name: order
        description: Sorts the result set by the properties specified. Ascending order
          is default if not specified. If the order query contains a tag key that
          has special characters (such as a dot, dash, or underscore), then the user
          needs to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          default: 500
          example: 500
        in: query
        name: limit
        description: Optional page size desired for the response. If not specified,
          the default page limit is 500.
      - schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 1000
        in: query
        name: offset
        description: Optional starting row of the result set, used with the limit
          for paging. The value is zero based, where offset=0 (the default) starts
          the response from the first row of results.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: FirmwaresCollectionResponse
                description: 'A collection is a list of instances along with metadata
                  about that query. A successful collection query returns a ''200''
                  with a list of instances in the response body. \nAn empty collection
                  response (whether due to no instances at all, or due to filtering
                  out all the existing instances) is not an error. It still returns
                  a ''200'', but the "results": [] list is empty.'
                properties:
                  paging:
                    $ref: '#/components/schemas/Paging'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Firmware'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic System
  /rest/v1/hosts/{id}:
    get:
      summary: Get a Host
      description: Get a host by its ID.
      operationId: get-rest-v1-host
      parameters:
      - schema:
          type: string
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
          minLength: 0
          maxLength: 1024
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The host ID to retrieve
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Host'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic Storage
  /rest/v1/hosts:
    get:
      summary: Get Hosts
      description: Get a list of all the host objects.
      operationId: get-rest-v1-hosts
      parameters:
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: (simple)  ?filter=age ge 13 (complex)  ?filter=(age lt 18) or (name
            like "foo") or (tags(BusinessUnit.SLA) like 'Gold'))
        in: query
        name: filter
        description: This filters rows in a query, by constraining the result to rows
          matching the property condition(s) specified. Multiple filters are valid
          and are "and"ed together. If the filter query contains a tag key that has
          special characters (such as a dot, dash, or underscore), then the user needs
          to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?order=last_name,age.dsc,system_tags(BusinessUnit.SLA)
        in: query
        name: order
        description: Sorts the result set by the properties specified. Ascending order
          is default if not specified. If the order query contains a tag key that
          has special characters (such as a dot, dash, or underscore), then the user
          needs to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          default: 500
          example: 500
        in: query
        name: limit
        description: Optional page size desired for the response. If not specified,
          the default page limit is 500.
      - schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 1000
        in: query
        name: offset
        description: Optional starting row of the result set, used with the limit
          for paging. The value is zero based, where offset=0 (the default) starts
          the response from the first row of results.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: HostsCollectionResponse
                description: 'A collection is a list of instances along with metadata
                  about that query. A successful collection query returns a ''200''
                  with a list of instances in the response body. \nAn empty collection
                  response (whether due to no instances at all, or due to filtering
                  out all the existing instances) is not an error. It still returns
                  a ''200'', but the "results": [] list is empty.'
                properties:
                  paging:
                    $ref: '#/components/schemas/Paging'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Host'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic Storage
  /rest/v1/network_systems/{id}:
    get:
      summary: Get a NetworkSystem
      description: Get a network system by its ID.
      operationId: get-rest-v1-network_system
      parameters:
      - schema:
          type: string
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
          minLength: 0
          maxLength: 1024
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The network system ID to retrieve
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkSystem'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic System
  /rest/v1/network_systems:
    get:
      summary: Get NetworkSystems
      description: Get a list of all the network system objects.
      operationId: get-rest-v1-network_systems
      parameters:
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: (simple)  ?filter=age ge 13 (complex)  ?filter=(age lt 18) or (name
            like "foo") or (tags(BusinessUnit.SLA) like 'Gold'))
        in: query
        name: filter
        description: This filters rows in a query, by constraining the result to rows
          matching the property condition(s) specified. Multiple filters are valid
          and are "and"ed together. If the filter query contains a tag key that has
          special characters (such as a dot, dash, or underscore), then the user needs
          to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?order=last_name,age.dsc,system_tags(BusinessUnit.SLA)
        in: query
        name: order
        description: Sorts the result set by the properties specified. Ascending order
          is default if not specified. If the order query contains a tag key that
          has special characters (such as a dot, dash, or underscore), then the user
          needs to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          default: 500
          example: 500
        in: query
        name: limit
        description: Optional page size desired for the response. If not specified,
          the default page limit is 500.
      - schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 1000
        in: query
        name: offset
        description: Optional starting row of the result set, used with the limit
          for paging. The value is zero based, where offset=0 (the default) starts
          the response from the first row of results.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: NetworkSystemsCollectionResponse
                description: 'A collection is a list of instances along with metadata
                  about that query. A successful collection query returns a ''200''
                  with a list of instances in the response body. \nAn empty collection
                  response (whether due to no instances at all, or due to filtering
                  out all the existing instances) is not an error. It still returns
                  a ''200'', but the "results": [] list is empty.'
                properties:
                  paging:
                    $ref: '#/components/schemas/Paging'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/NetworkSystem'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic System
  /rest/v1/pools/{id}:
    get:
      summary: Get a Pool
      description: Get a pool by its ID.
      operationId: get-rest-v1-pool
      parameters:
      - schema:
          type: string
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
          minLength: 0
          maxLength: 1024
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The pool ID to retrieve
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pool'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic Storage
  /rest/v1/pools:
    get:
      summary: Get Pools
      description: Get a list of all the pool objects.
      operationId: get-rest-v1-pools
      parameters:
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: (simple)  ?filter=age ge 13 (complex)  ?filter=(age lt 18) or (name
            like "foo") or (tags(BusinessUnit.SLA) like 'Gold'))
        in: query
        name: filter
        description: This filters rows in a query, by constraining the result to rows
          matching the property condition(s) specified. Multiple filters are valid
          and are "and"ed together. If the filter query contains a tag key that has
          special characters (such as a dot, dash, or underscore), then the user needs
          to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?order=last_name,age.dsc,system_tags(BusinessUnit.SLA)
        in: query
        name: order
        description: Sorts the result set by the properties specified. Ascending order
          is default if not specified. If the order query contains a tag key that
          has special characters (such as a dot, dash, or underscore), then the user
          needs to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          default: 500
          example: 500
        in: query
        name: limit
        description: Optional page size desired for the response. If not specified,
          the default page limit is 500.
      - schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 1000
        in: query
        name: offset
        description: Optional starting row of the result set, used with the limit
          for paging. The value is zero based, where offset=0 (the default) starts
          the response from the first row of results.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: PoolsCollectionResponse
                description: 'A collection is a list of instances along with metadata
                  about that query. A successful collection query returns a ''200''
                  with a list of instances in the response body. \nAn empty collection
                  response (whether due to no instances at all, or due to filtering
                  out all the existing instances) is not an error. It still returns
                  a ''200'', but the "results": [] list is empty.'
                properties:
                  paging:
                    $ref: '#/components/schemas/Paging'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pool'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic Storage
  /rest/v1/ports/{id}:
    get:
      summary: Get a Port
      description: Get a port by its ID.
      operationId: get-rest-v1-port
      parameters:
      - schema:
          type: string
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
          minLength: 0
          maxLength: 1024
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The port ID to retrieve
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Port'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic Hardware
  /rest/v1/ports:
    get:
      summary: Get Ports
      description: Get a list of all the port objects.
      operationId: get-rest-v1-ports
      parameters:
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: (simple)  ?filter=age ge 13 (complex)  ?filter=(age lt 18) or (name
            like "foo") or (tags(BusinessUnit.SLA) like 'Gold'))
        in: query
        name: filter
        description: This filters rows in a query, by constraining the result to rows
          matching the property condition(s) specified. Multiple filters are valid
          and are "and"ed together. If the filter query contains a tag key that has
          special characters (such as a dot, dash, or underscore), then the user needs
          to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?order=last_name,age.dsc,system_tags(BusinessUnit.SLA)
        in: query
        name: order
        description: Sorts the result set by the properties specified. Ascending order
          is default if not specified. If the order query contains a tag key that
          has special characters (such as a dot, dash, or underscore), then the user
          needs to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          default: 500
          example: 500
        in: query
        name: limit
        description: Optional page size desired for the response. If not specified,
          the default page limit is 500.
      - schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 1000
        in: query
        name: offset
        description: Optional starting row of the result set, used with the limit
          for paging. The value is zero based, where offset=0 (the default) starts
          the response from the first row of results.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: PortsCollectionResponse
                description: 'A collection is a list of instances along with metadata
                  about that query. A successful collection query returns a ''200''
                  with a list of instances in the response body. \nAn empty collection
                  response (whether due to no instances at all, or due to filtering
                  out all the existing instances) is not an error. It still returns
                  a ''200'', but the "results": [] list is empty.'
                properties:
                  paging:
                    $ref: '#/components/schemas/Paging'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Port'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic Hardware
  /rest/v1/server_systems/{id}:
    get:
      summary: Get a ServerSystem
      description: Get a server by its ID.
      operationId: get-rest-v1-server_system
      parameters:
      - schema:
          type: string
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
          minLength: 0
          maxLength: 1024
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The server ID to retrieve
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerSystem'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic System
  /rest/v1/server_systems:
    get:
      summary: Get ServerSystems
      description: Get a list of all the server objects.
      operationId: get-rest-v1-server_systems
      parameters:
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: (simple)  ?filter=age ge 13 (complex)  ?filter=(age lt 18) or (name
            like "foo") or (tags(BusinessUnit.SLA) like 'Gold'))
        in: query
        name: filter
        description: This filters rows in a query, by constraining the result to rows
          matching the property condition(s) specified. Multiple filters are valid
          and are "and"ed together. If the filter query contains a tag key that has
          special characters (such as a dot, dash, or underscore), then the user needs
          to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?order=last_name,age.dsc,system_tags(BusinessUnit.SLA)
        in: query
        name: order
        description: Sorts the result set by the properties specified. Ascending order
          is default if not specified. If the order query contains a tag key that
          has special characters (such as a dot, dash, or underscore), then the user
          needs to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          default: 500
          example: 500
        in: query
        name: limit
        description: Optional page size desired for the response. If not specified,
          the default page limit is 500.
      - schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 1000
        in: query
        name: offset
        description: Optional starting row of the result set, used with the limit
          for paging. The value is zero based, where offset=0 (the default) starts
          the response from the first row of results.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: ServerSystemsCollectionResponse
                description: 'A collection is a list of instances along with metadata
                  about that query. A successful collection query returns a ''200''
                  with a list of instances in the response body. \nAn empty collection
                  response (whether due to no instances at all, or due to filtering
                  out all the existing instances) is not an error. It still returns
                  a ''200'', but the "results": [] list is empty.'
                properties:
                  paging:
                    $ref: '#/components/schemas/Paging'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/ServerSystem'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic System
  /rest/v1/storage_resource_pools/{id}:
    get:
      summary: Get a Srp
      description: Get a srp by its ID.
      operationId: get-rest-v1-storage_resource_pool
      parameters:
      - schema:
          type: string
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
          minLength: 0
          maxLength: 1024
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The srp ID to retrieve
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Srp'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic Storage
  /rest/v1/storage_resource_pools:
    get:
      summary: Get Srps
      description: Get a list of all the srp objects.
      operationId: get-rest-v1-storage_resource_pools
      parameters:
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: (simple)  ?filter=age ge 13 (complex)  ?filter=(age lt 18) or (name
            like "foo") or (tags(BusinessUnit.SLA) like 'Gold'))
        in: query
        name: filter
        description: This filters rows in a query, by constraining the result to rows
          matching the property condition(s) specified. Multiple filters are valid
          and are "and"ed together. If the filter query contains a tag key that has
          special characters (such as a dot, dash, or underscore), then the user needs
          to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?order=last_name,age.dsc,system_tags(BusinessUnit.SLA)
        in: query
        name: order
        description: Sorts the result set by the properties specified. Ascending order
          is default if not specified. If the order query contains a tag key that
          has special characters (such as a dot, dash, or underscore), then the user
          needs to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          default: 500
          example: 500
        in: query
        name: limit
        description: Optional page size desired for the response. If not specified,
          the default page limit is 500.
      - schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 1000
        in: query
        name: offset
        description: Optional starting row of the result set, used with the limit
          for paging. The value is zero based, where offset=0 (the default) starts
          the response from the first row of results.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: SrpsCollectionResponse
                description: 'A collection is a list of instances along with metadata
                  about that query. A successful collection query returns a ''200''
                  with a list of instances in the response body. \nAn empty collection
                  response (whether due to no instances at all, or due to filtering
                  out all the existing instances) is not an error. It still returns
                  a ''200'', but the "results": [] list is empty.'
                properties:
                  paging:
                    $ref: '#/components/schemas/Paging'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Srp'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic Storage
  /rest/v1/storage_groups/{id}:
    get:
      summary: Get a StorageGroup
      description: Get a storage group by its ID.
      operationId: get-rest-v1-storage_group
      parameters:
      - schema:
          type: string
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
          minLength: 0
          maxLength: 1024
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The storage group ID to retrieve
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageGroup'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic Storage
  /rest/v1/storage_groups:
    get:
      summary: Get StorageGroups
      description: Get a list of all the storage group objects.
      operationId: get-rest-v1-storage_groups
      parameters:
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: (simple)  ?filter=age ge 13 (complex)  ?filter=(age lt 18) or (name
            like "foo") or (tags(BusinessUnit.SLA) like 'Gold'))
        in: query
        name: filter
        description: This filters rows in a query, by constraining the result to rows
          matching the property condition(s) specified. Multiple filters are valid
          and are "and"ed together. If the filter query contains a tag key that has
          special characters (such as a dot, dash, or underscore), then the user needs
          to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?order=last_name,age.dsc,system_tags(BusinessUnit.SLA)
        in: query
        name: order
        description: Sorts the result set by the properties specified. Ascending order
          is default if not specified. If the order query contains a tag key that
          has special characters (such as a dot, dash, or underscore), then the user
          needs to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          default: 500
          example: 500
        in: query
        name: limit
        description: Optional page size desired for the response. If not specified,
          the default page limit is 500.
      - schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 1000
        in: query
        name: offset
        description: Optional starting row of the result set, used with the limit
          for paging. The value is zero based, where offset=0 (the default) starts
          the response from the first row of results.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: StorageGroupsCollectionResponse
                description: 'A collection is a list of instances along with metadata
                  about that query. A successful collection query returns a ''200''
                  with a list of instances in the response body. \nAn empty collection
                  response (whether due to no instances at all, or due to filtering
                  out all the existing instances) is not an error. It still returns
                  a ''200'', but the "results": [] list is empty.'
                properties:
                  paging:
                    $ref: '#/components/schemas/Paging'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/StorageGroup'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic Storage
  /rest/v1/storage_systems/{id}:
    get:
      summary: Get a StorageSystem
      description: Get a storage system by its ID.
      operationId: get-rest-v1-storage_system
      parameters:
      - schema:
          type: string
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
          minLength: 0
          maxLength: 1024
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The storage system ID to retrieve
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageSystem'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic System
  /rest/v1/storage_systems:
    get:
      summary: Get StorageSystems
      description: Get a list of all the storage system objects.
      operationId: get-rest-v1-storage_systems
      parameters:
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: (simple)  ?filter=age ge 13 (complex)  ?filter=(age lt 18) or (name
            like "foo") or (tags(BusinessUnit.SLA) like 'Gold'))
        in: query
        name: filter
        description: This filters rows in a query, by constraining the result to rows
          matching the property condition(s) specified. Multiple filters are valid
          and are "and"ed together. If the filter query contains a tag key that has
          special characters (such as a dot, dash, or underscore), then the user needs
          to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?order=last_name,age.dsc,system_tags(BusinessUnit.SLA)
        in: query
        name: order
        description: Sorts the result set by the properties specified. Ascending order
          is default if not specified. If the order query contains a tag key that
          has special characters (such as a dot, dash, or underscore), then the user
          needs to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 1000
          default: 500
          example: 500
        in: query
        name: limit
        description: Optional page size desired for the response. If not specified,
          the default page limit is 500.
      - schema:
          type: integer
          format: int32
          minimum: 0
          maximum: 1000
        in: query
        name: offset
        description: Optional starting row of the result set, used with the limit
          for paging. The value is zero based, where offset=0 (the default) starts
          the response from the first row of results.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: StorageSystemsCollectionResponse
                description: 'A collection is a list of instances along with metadata
                  about that query. A successful collection query returns a ''200''
                  with a list of instances in the response body. \nAn empty collection
                  response (whether due to no instances at all, or due to filtering
                  out all the existing instances) is not an error. It still returns
                  a ''200'', but the "results": [] list is empty.'
                properties:
                  paging:
                    $ref: '#/components/schemas/Paging'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/StorageSystem'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic System
  /rest/v1/systems/{id}:
    get:
      summary: Get a System
      description: Get a system by its ID.
      operationId: get-rest-v1-system
      parameters:
      - schema:
          type: string
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
          minLength: 0
          maxLength: 1024
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
          This can be very expensive - large and slow for large collection responses
          in particular. This allows the client to select the specific properties
          that they need, which in addition to the performance benefits for the client
          and server, also documents the dependencies of the client code, and makes
          it more resilient to changes on the server side. If the select query contains
          a tag key that has special characters (such as a dot, dash, or underscore),
          then the user needs to enclose such keys within parentheses (). Examples
          are tags(dot.key.0), tags(dash-key-0), or tags(underscore_0). If the key
          does not contain any special characters, then examples of what the user
          can use are tags.BusinessUnit or tags(BusinessUnit).
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: The system ID to retrieve
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Generic System
  /rest/v1/systems:
    get:
      summary: Get Systems
      description: Get a list of all the system objects.
      operationId: get-rest-v1-systems
      parameters:
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: (simple)  ?filter=age ge 13 (complex)  ?filter=(age lt 18) or (name
            like "foo") or (tags(BusinessUnit.SLA) like 'Gold'))
        in: query
        name: filter
        description: This filters rows in a query, by constraining the result to rows
          matching the property condition(s) specified. Multiple filters are valid
          and are "and"ed together. If the filter query contains a tag key that has
          special characters (such as a dot, dash, or underscore), then the user needs
          to enclose such keys within parentheses (). Examples are tags(dot.key.0),
          tags(dash-key-0), or tags(underscore_0). If the key does not contain any
          special characters, then examples of what the user can use are tags.BusinessUnit
          or tags(BusinessUnit).
      - schema:
          type: string
          minLength: 0
          maxLength: 1024
          example: ?select=id,name,system_tags(BusinessUnit.SLA)
        in: query
        name: select
        description: By default, all properties are returned in resource instances.
[...]
